@charset 'utf-8';

.p-info {
  display: flex;
  font-size: 1.4rem;

  &__name {
    margin-right: 8px;
  }

  &__list {
    .p-info__item {
      display: inline-block;
      background-color: $purple;
      color: $white;
      padding: 0 8px;
      margin-bottom: 8px;
    }
  }
}
