@charset 'utf-8';

.p-section { 
  margin-bottom: 100px;
  @include sp {
    margin-bottom: 50px;
  }

  &__heading {
    color: $purple;
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 36px;
  }

  &--small {
    @extend .p-section;

    .p-section__title {
      color: $white;
      background-color: $purple;
      font-size: 3rem;
      padding: 0 8px;
    }

    .p-section__url {
      display: inline-block;
      color: $purple;
      text-decoration: underline;
      letter-spacing: 0.1em;
      word-break: break-all;
      padding: 0 8px;
      margin-bottom: 24px;
    }

    .p-section__heading {
      color: $purple;
      text-align: left;
      padding: 0;
    }

    .p-section__text {
      font-size: 1.4rem;
      line-height: 2.1;
    }

    .p-section__primaryList {
      font-size: 1.4rem;
      line-height: 2.1;

      .p-section__item {
        padding-left: 16px;
        background-image: url(../../images/icon_primaryList.png);
        background-repeat: no-repeat;
        background-position: 0px 7.5px;
        background-size: 12px;

        margin-bottom: 16px;
      }
    }

    .p-section__secondaryList {
      .p-section__item {
        background-image: url(../../images/icon_secondaryList.png);
        background-repeat: no-repeat;
        background-position: 0px 8px;
        background-size: 10px;
        margin-bottom: 0;
      }
    }
  }
}
