@charset 'utf-8';

.p-nav {
  margin: 0 auto;
  &__list {
    display: flex;
    justify-content: center;

    .p-nav__item {
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
