@charset 'utf-8';

.l-main {
  background-color: $white;
  width: 1060px;
  margin: 0 auto;
  @include sp {
    width: auto;
    margin: 0 20px;
  }

  &__twoColumn {
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    @include sp {
      display: block;
      height: auto;
      padding-top: 80px;
    }

    .l-main__left {
      width: 310px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      @include sp {
        width: auto;
      }
    }

    .l-main__right {
      width: 720px;
      overflow-y: scroll;
      @include sp {
        width: 100%;
      }
    }
  }
}
