@charset 'utf-8';

.l-copy {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 15px;

  &--fixed {
    @extend .l-copy;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
