@charset 'utf-8';

.l-header {
  background: $purple;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    @include sp {
      height: 50px;
    }
  }
}
