@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-family: "Poppins", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Kaku Gothic Pro(ProN)", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
  color: #474747;
}

.l-header {
  background: #abafd4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
}
.l-header.is-show {
  pointer-events: all;
  opacity: 1;
}
.l-header__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
}

.l-mainVisual {
  height: 698px;
  background: #abafd4;
  position: relative;
}
.l-mainVisual__box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-main {
  width: 1060px;
  margin: 0 auto;
}
.l-main__twoColumn {
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.l-main__twoColumn .l-main__left {
  width: 310px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}
.l-main__twoColumn .l-main__left::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
.l-main__twoColumn .l-main__right {
  overflow-y: scroll;
}

.l-copy, .l-copy--fixed {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 15px;
}
.l-copy--fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.c-navLink {
  display: inline-block;
  background: #fff;
  color: #abafd4;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  padding: 0 8px;
}

.c-category {
  color: #fff;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}

.c-icon {
  width: 100px;
}

.c-title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 0;
  line-height: 0;
  transition: opacity 500ms;
}
.c-title.is-active {
  opacity: 1;
  font-size: 1.6rem;
  line-height: 1.5;
}

.c-thumbnail {
  width: 240px;
  height: 135px;
  opacity: 1;
  transition: opacity 500ms;
}
.c-thumbnail.is-active {
  opacity: 0.3;
}

.p-logo, .p-logo--small {
  color: #fff;
  margin-bottom: 40px;
}
.p-logo__top {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
.p-logo__bottom {
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.1em;
}
.p-logo--small {
  position: absolute;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
  margin-bottom: 0;
}
.p-logo--small .p-logo__link {
  display: block;
}
.p-logo--small .p-logo__top {
  font-size: 1.5rem;
  margin-bottom: 0px;
  line-height: 1;
}
.p-logo--small .p-logo__bottom {
  font-size: 1rem;
  line-height: 1;
}

.p-nav {
  margin: 0 auto;
}
.p-nav__list {
  display: flex;
  justify-content: center;
}
.p-nav__list .p-nav__item {
  margin-right: 16px;
}
.p-nav__list .p-nav__item:last-of-type {
  margin-right: 0;
}

.p-section {
  margin-bottom: 100px;
}
.p-section__heading {
  color: #abafd4;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 36px;
}
.p-section--small {
  margin-bottom: 100px;
}
.p-section--small .p-section__title {
  color: #fff;
  background-color: #abafd4;
  font-size: 3rem;
  padding: 0 8px;
}
.p-section--small .p-section__url {
  display: inline-block;
  color: #abafd4;
  text-decoration: underline;
  letter-spacing: 0.1em;
  word-break: break-all;
  padding: 0 8px;
  margin-bottom: 24px;
}
.p-section--small .p-section__heading {
  color: #abafd4;
  text-align: left;
  padding: 0;
}
.p-section--small .p-section__text {
  font-size: 1.4rem;
  line-height: 2.1;
}
.p-section--small .p-section__primaryList {
  font-size: 1.4rem;
  line-height: 2.1;
}
.p-section--small .p-section__primaryList .p-section__item {
  padding-left: 16px;
  background-image: url(/assets/images/icon_primaryList.png);
  background-repeat: no-repeat;
  background-position: 0px 7.5px;
  background-size: 12px;
  margin-bottom: 16px;
}
.p-section--small .p-section__secondaryList .p-section__item {
  background-image: url(/assets/images/icon_secondaryList.png);
  background-repeat: no-repeat;
  background-position: 0px 8px;
  background-size: 10px;
  margin-bottom: 0;
}

.p-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 34px;
  row-gap: 34px;
}
.p-thumbnails__item {
  position: relative;
  background-color: black;
}
.p-thumbnails__item .p-thumbnails__link {
  display: block;
}

.p-profile__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.p-profile__left {
  width: 50%;
  margin-right: 116px;
  font-size: 2.4rem;
}
.p-profile__left .p-profile__detail {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
.p-profile__left .p-profile__detail:last-of-type {
  margin-bottom: 0;
}
.p-profile__left .p-profile__detail .p-profile__item {
  margin-right: 14px;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.p-profile__left .p-profile__detail .p-profile__desc {
  letter-spacing: 0.1em;
}
.p-profile__right {
  width: 50%;
}
.p-profile__text {
  margin: 0 auto;
  width: 740px;
  letter-spacing: 0.1em;
  line-height: 1.875;
}

.p-skill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 79px;
  row-gap: 51px;
}
.p-skill__item {
  height: 300px;
  padding: 25px 0;
  box-sizing: border-box;
}
.p-skill__item .p-skill__icon {
  text-align: center;
  margin-bottom: 16px;
}
.p-skill__item .p-skill__icon .p-skill__name {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  padding: 5px;
  border-bottom: 5px solid #abafd4;
}
.p-skill__item .p-skill__text {
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  padding: 0 15px;
  word-break: break-all;
}

.p-info {
  display: flex;
  font-size: 1.4rem;
}
.p-info__name {
  margin-right: 8px;
}
.p-info__list .p-info__item {
  display: inline-block;
  background-color: #abafd4;
  color: #fff;
  padding: 0 8px;
  margin-bottom: 8px;
}
/*# sourceMappingURL=styles.css.map */
